@charset "utf-8";
/*全局样式*/
body,div,ul,p,h1,h2,h3,h4,h5,h6,a,span,dl,dd,dt,input{
	margin: 0;
	padding: 0;
	border: none;
}
body{
	background-color: #eee;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}

 .clearfix:after {
 	content:"."; 
 	display:block; 
 	height:0; 
 	visibility:hidden; 
 	clear:both; 
 }

.clearfix { 
	*zoom:1; 
}

.header{
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #522A5C;
}
.wrap{
	position: absolute;
	width:980px;
	left:50%;
	bottom: 0;
	margin-left: -490px;
}
h1{
	position: absolute;
	bottom: 5px;
	left: 0;
}
.nav{
	position: absolute;
	bottom: 5px;
	right: 0;
}
.nav li{
	float: right;
	margin-left: 28px;
	font-size: 14px;
}
.github{
	position: absolute;
	right: 10px;
	bottom: 0;
	width:30px;
	height:34px;
	background: url(../img/icon-github.png) no-repeat 0 0;
}

.banner{
	position: relative;
	width: 100%;
	height: 525px;
}

.banner img{
	width:100%;
	height:525px;
}

.banner-note{
	float:right;
	width: 340px;
	height: 80px;
	padding:10px 10px 30px 10px;
	filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr='#aaffffff', endcolorstr='#00ffffff');
	-ms-filter: "progid:dximagetransform.microsoft.gradient (gradienttype=0, startcolorstr=#aaffffff, endcolorstr=#00ffffff)";/*ie8+*/
	background:
	-moz-linear-gradient(top, rgba(255,255,255,0.7),rgba(255,255,255,0.5) 25%, rgba(255, 255, 255, 0.0));
	background:
	-webkit-linear-gradient(top, rgba(255,255,255,0.7),rgba(255,255,255,0.5) 25%, rgba(255, 255, 255, 0.0));
	background:
	-ms-linear-gradient(top, rgba(255,255,255,0.7),rgba(255,255,255,0.5) 25%, rgba(255, 255, 255, 0.0));   
	color: #fff;
	font-family: "微软雅黑"
}
.banner-note h2{
	font-size: 14px;
	font-weight: normal;
	text-align: right;
}
.banner-note p{
	margin-top: 12px;
	font-size: 12px;
	text-indent: 2em;
	line-height: 150%;
}

.center-panel{
	width:100%;
	padding-top: 10px;
	padding-bottom: 110px;
}
.wrap-panel{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
.show-panel{
	float: left;
	width: 300px;
	background-color: #fff;
	padding: 10px;
	margin-bottom: -5000px;
	padding-bottom: 5000px;
}
.space{
	margin-right: 10px;
}
.note-panel{
	padding: 15px 20px;
	font-size: 12px;
	line-height: 1.7;
	text-indent: 2em;
}
.introduce{
	width: 100%;
	height: 520px;
	text-align: center;
}
.intro-photo{
	margin-top: -50px;
	margin-bottom: 50px;
}
.introduce h2{
	font-size: 20px;
	font-family: "Century Gothic"
}
.introduce p{
	width: 600px;
	margin:30px auto ;
	font-size: 14px;
	line-height: 1.8;
	text-indent: 2em;
	text-align: left;
}

.footer{
	background-color: #000;
	font-size: 12px;
}
.footer-nav{
	height:35px;
	border-bottom: #333 1px solid;
}
.footer-nav ul{
	width:208px;
	height:35px;
	line-height: 35px;
	margin: 0 auto;
	
}
.footer-nav li{
	float: left;
	margin:0 14px;
}
.footer-link{
	width:980px;
	margin:0 auto;
}
.footer-link dl{
	float: left;
	margin: 40px 50px;
	width:96px;
	text-align: center;
	line-height: 1.7;
}
.footer-link dl dt{
	color:#ccc;
	margin-bottom: 40px;
}
.copyright{
	margin: 0 auto;
	height:70px;
	width:48px;
	color:#fff;
}
.copyright span{
	text-align: ceter;
}
.footer-github{
	display:block;
	width:30px;
	height:34px;
	background: url(../img/icon-github.png) no-repeat 0 0;
	margin-left: 9px;
	margin-top: 20px;
}
/*blog样式*/
.blog-main{
	width:980px;
	margin:20px auto;
}
.sidebar{
	float: right;
	width: 260px;
}
.search{
	width:260px;
	height:80px;
	background-color: #fff;
	text-align: center;
	line-height: 60px;
}
.search-text{
	width:125px;
	height:40px;
	background: url(../img/search.png) left center no-repeat;
	border: #ddd 1px solid;
	padding-left: 45px;
	vertical-align:bottom
}
.button{
	width:52px;
	height:42px;
	background-color: #ddd;
	border: #ddd 1px solid;
	color:#fff;
	font-size: 20px;
	margin-top: 2px;
	vertical-align:bottom
}
.subnav{
	margin-top: 10px;
	background-color: #fff;
}
.subnav li{
	height: 50px;
	border-top: #ddd 1px solid;
	border-bottom: #ddd 1px solid;
	margin-bottom: -1px;
}
.subnav li a{
	display: block;
	height:50px;
	width:240px;
	padding-left:16px;
	line-height:50px;
	color: #000;
	border-left: #DFC6E6 4px solid;
}
.subnav li a:hover{
	border-left: #522A5C 4px solid;
}
.calendar{
	margin-top: 10px;
	background-color: #fff;
	text-align: center;
}
.calendar caption{
	margin-top: 10px;
	color: #773B87;
	font-weight: bold;
}
.calendar caption a{
	margin:0 -120px;
	color: #773B87;
	font-weight: bold;
}
.calendar caption a:hover{
	color: #fff;
	background-color: #773B87;
}
.calendar table{
	width: 230px;
	margin: 0 auto;
	padding-bottom: 25px;
	font-size: 12px;
	line-height: 1.7;
}
.calendar table td,th{
	border-bottom: 1px solid #eee;
	color: #999;
	height:24px;
}
.calendar td:hover{
	background-color: #773B87;
	color: #fff;
	cursor: pointer;
}

.tags{
	margin-top: 10px;
	background-color: #fff;
	color: #773C88;
	font-size: 14px;
	padding:5px 15px 20px;
}
.tags h2{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 15px;
}
.tags strong{
	font-size: 28px;
}
.tags em{
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
}

.article{
	float:left;
	width:710px;
}
.art-panel{
	position: relative;
	padding: 20px;
	width:670px;
	background-color: #fff;
	margin-bottom: 10px;
}
.art-panel h2{
	font-size: 16px;
	margin-bottom: 8px;
	color: #A660B7
}
.art-panel h3{
	font-size: 12px;
	margin-bottom: 10px;
	color: #666;
}
.art-panel p{
	font-size: 12px;
	line-height: 1.8;
	text-indent: 2em;
}
.author{
	text-align: right;
	color: #666;
	margin-top: 30px;
}
.date-tag,.kind-tag{
	position: absolute;
	left: -50px;
	width: 50px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	
}
.date-tag{
	top: 20px;
	background-color: #522A5C;
}
.kind-tag{
	top: 60px;
	background-color: #A660B7;
}
.pagenum{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 150px;
}
.pagenum li{
	display: inline-block;
	margin-right: 10px;
}
.pagenum a{
	display: block;
	height: 35px;
	line-height: 35px;
	padding:0 15px;
	color: #000;
	background-color: #fff;
	font-size: 12px;
}
.pagenum a:hover{
	color: #fff;
	background-color: #A660B7;
}
.pagenum a:active{
	color: #fff;
	background-color: #A660B7;
}